In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Chargement du DataFrame à partir d'un fichier CSV
df = pd.read_csv('data.csv')

# Remplir les valeurs nulles dans certaines colonnes
columns_to_fill = ['salary_max', 'salary_min']  # Ajoutez d'autres colonnes si nécessaire
df[columns_to_fill] = df[columns_to_fill].fillna(0)  # Remplacez 0 par la valeur souhaitée

# Créer un dictionnaire de remplacements pour toutes les colonnes
fill_values = {col: "N/A" for col in df.columns}

# Remplir les valeurs nulles dans toutes les colonnes avec les valeurs de votre choix (par exemple, "N/A")
df = df.fillna(fill_values)

# Analyse des contrats
contract_counts = df['contract_type'].value_counts()
print("Nombre d'offres d'emploi par type de contrat :")
print(contract_counts)

# Analyse des catégories d'emploi
category_counts = df['category'].value_counts()
print("\nNombre d'offres d'emploi par catégorie d'emploi :")
print(category_counts)

# Analyse des salaires
average_salary = df[['salary_max', 'salary_min']].mean()
print("\nSalaire moyen maximal :", average_salary['salary_max'])
print("Salaire moyen minimal :", average_salary['salary_min'])

# Analyse de la localisation
location_counts = df['location'].value_counts()
print("\nNombre d'offres d'emploi par emplacement :")
print(location_counts)

print(df)

Nombre d'offres d'emploi par type de contrat :
N/A         386
CDI         362
MIS         109
CDD         107
contract     14
LIB           2
REP           1
DIN           1
Name: contract_type, dtype: int64

Nombre d'offres d'emploi par catégorie d'emploi :
N/A                     582
Emplois Informatique    400
Name: category, dtype: int64

Salaire moyen maximal : 16658.78716904277
Salaire moyen minimal : 12028.085539714868

Nombre d'offres d'emploi par emplacement :
N/A                              582
France                            52
Paris, Ile-de-France              44
Rhône, Auvergne-Rhône-Alpes       20
Cholet, Maine-et-Loire            12
                                ...
Aurillac, Cantal                   1
Lanester, Lorient                  1
Meurthe-et-Moselle, Grand-Est      1
Amiens, Somme                      1
Hauts-de-Seine, Ile-de-France      1
Name: location, Length: 86, dtype: int64
                      created  salary_max          id  \
0        2023-06-29T01:53:15Z     60000.0  4175453938
1        2023-07-17T11:25:50Z     60000.0  4209881425
2        2023-06-27T19:58:45Z     80000.0  4173539776
3        2023-06-28T01:09:14Z     60000.0  4173966092
4        2023-08-03T07:20:01Z         0.0  4239644983
..                        ...         ...         ...
977  2023-08-08T09:22:11.000Z         0.0     159MNKB
978  2023-08-08T07:23:21.000Z         0.0     159MKZW
979  2023-08-07T18:21:12.000Z         0.0     159MHJT
980  2023-08-07T17:54:17.000Z         0.0     159MGZQ
981  2022-09-25T07:41:15.000Z         0.0      787364

                                                 title  salary_min  \
0                                   Expert Réseau/Wifi     40000.0
1    Ingénieur Système - Surveillance et Renseignem...     40000.0
2          Ingénieur développement logiciel C++ sénior     60000.0
3               SPACE SEGMENT PROJECT DELIVERY MANAGER     40000.0
4                           Référent Cybersécurité H/F         0.0
..                                                 ...         ...
977  Technicien(ne) support de proximité en informa...         0.0
978  Technicien(ne) de maintenance de systèmes info...         0.0
979  Technicien / Technicienne de help desk en info...         0.0
980        Technicien / Technicienne en électroménager         0.0
981  Technicien(ne) maintenance matériels domestiqu...         0.0

    salary_is_predicted                                        description  \
0                   0.0  A la recherche d’un nouveau challenge?Cette op...
1                   0.0  Ingénieur Système - Surveillance et Renseignem...
2                   0.0  Ingénieur développement logiciel C++ sénior pa...
3                   0.0  Absolut Sensing is developing the technologies...
4                   0.0  Il existe 300 métiers différents chez BNP Pari...
..                  ...                                                ...
977                 N/A                                                N/A
978                 N/A                                                N/A
979                 N/A                                                N/A
980                 N/A                                                N/A
981                 N/A                                                N/A

         tag              category  \
0    it-jobs  Emplois Informatique
1    it-jobs  Emplois Informatique
2    it-jobs  Emplois Informatique
3    it-jobs  Emplois Informatique
4    it-jobs  Emplois Informatique
..       ...                   ...
977      N/A                   N/A
978      N/A                   N/A
979      N/A                   N/A
980      N/A                   N/A
981      N/A                   N/A

                                                  area  \
0    ['France', 'Ile-de-France', 'Val-de-Marne', 'N...
1    ['France', 'Pays de la Loire', 'Maine-et-Loire...
2    ['France', 'Ile-de-France', 'Hauts-de-Seine', ...
3    ['France', 'Occitanie', 'Haute-Garonne', 'Toul...
4    ['France', 'Ile-de-France', 'Seine-Saint-Denis...
..                                                 ...
977                                                N/A
978                                                N/A
979                                                N/A
980                                                N/A
981                                                N/A

                                 location          company contract_type
0    Fontenay-sous-Bois, Nogent-sur-Marne     SKILL EXPERT           N/A
1                  Cholet, Maine-et-Loire     Thales Group           N/A
2                 Gennevilliers, Nanterre     Thales Group           N/A
3                 Toulouse, Haute-Garonne  Absolut Sensing           N/A
4                      Montreuil, Bobigny      BNP PARIBAS           N/A
..                                    ...              ...           ...
977                                   N/A              N/A           CDD
978                                   N/A              N/A           CDI
979                                   N/A              N/A           MIS
980                                   N/A              N/A           CDI
981                                   N/A              N/A           CDI

[982 rows x 13 columns]